@font-face {
  font-family: "ccalc";
  src: url("../fonts/14LED.ttf");
}

body {
  background-color:black;
  color:#99ccff;
  font-family:Helvetica;
}

#sidebar{
  height:100vh;
  width:200px;
  padding:4px;
}

#content {
  width:100%;
  height:100%;
}
@media (min-width: 550px) { /*Skeletons default grid-activation width*/
  #sidebar{
    position: fixed;
    max-width: 18%; /*Avoids overlapping*/
    min-width:200px;
    float:left;
  }
}

control-panel {
  display:block;
  padding:12px;
  padding-top:4px;
}

nav > button {
  width:100%;
  text-align:left;
  font-size:24px;

  margin-bottom:3px;
  margin-top:3px;
}

nav > button.active {
  color:#ff9900;
  border-color:#ff9900;
}

nav > button:nth-child(1) {
  margin-top:0px;
}

nav > button > div {
  padding-top:5px;
  padding-bottom:5px;
}

nav > button > div:nth-child(1) {
  float:left;
}

nav > button > div:nth-child(2) {
  padding-left:32px;
}

button {
  border: 1px solid #99ccff;
  background-color:black;
  color:#99ccff;
}

control-panel > div {
  width:913px;
}

control-panel h2 {
  padding-top:0px;
  margin-top:0px;
  margin-bottom:4px;
}

control-panel button {
  display:block;
  float:left;
  margin:2px;
  width:71px;
}
control-panel button:nth-child(1) {
  margin-left:0px;
}


control-panel div.toolbar {
  height:72px;
  float:left;
}

div.led {
  font-family: ccalc;
  font-size:38px;
  height:42px;
  padding:4px;
  color: #ff3300;
  border: 1px #99ccff solid;
  background-image:url('../images/lcd.png');
  overflow: hidden;

  /* text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #ff00de, 0 0 12px #ff00de, 0 0 27px #ff00de, 0 0 25px #ff00de; */
}

.seeker {
  width:auto;
}

.listbox {
  display:block;
}
header {
  display:block;
  width:100%;
  height:50px;
}

header button {
  border: 1px #59f solid;
  padding:6px;
  margin-top:2px;
  margin-left:2px;
  float:left;
}

header > button > div:nth-child(2) {
  font-size:24px;
}
header select {
  border-radius: 0px;
  float:left;
  background-color:black;
  color:#59f;
  border: 1px solid #59f;
  font-size:24px;
  margin-top:2px;
  padding:7px;
  padding-bottom:8px;
  margin-left:2px;
}

section.object-list {
  padding-top:0px;
  top:0px;
}

ul.itemlist {
  list-style-type:none;
  padding-left:0px;
  display:block;
  height:100%;
  margin:2px;
  margin-top:0px;
  margin-bottom:0px;
}
ul.itemlist > li {
  display:block;
  color:#9cf;
  width:100%;
  height:40px;
  margin-top:1px;
  margin-bottom:1px;
}

ul.itemlist > li > button {
  display:block;
  float:right;
  height:40px;
  width:40px;
}

ul.itemlist > li > div {
  height:40px;
  float:left;
  font-size:32px;
  width:100%;
  border: 1px solid #9cf;
  padding-left:2px;
}

ul.itemlist > li > div.c1 {
  width: calc(100% - 41px);
}

ul.itemlist > li > div.c2 {
  width: calc(100% - 82px);
}

ul.itemlist > li.active > div {
  color:#ff9;
  border-color:#ff9;
}
.type-track {
  color:#ff9 !important;
  border-color:#ff9 !important;
}

.type-track > div {
  color:#ff9 !important;
  border-color:#ff9 !important;
}

/* Extra button colors */

.button2 {
  border-color:#c69 !important;
  color:#c69 !important;
}

.button3 {
  border-color:#9cf!important;
  color:#9cf!important;
}

.button4 {
  border-color:#c66!important;
  color:#c66!important;
}

.button5 {
  border-color:#96f!important;
  color:#96f!important;;
}

button:disabled {
  color:#999;
  border-color:#999 !important;
}

.channel-state-playing {
  border:#00ff00 1px solid;
  color:#00ff00;
}

.channel-state-paused {
  border:#ffff00 1px solid;
  color:#ffff00;
}

.channel-state-stopped {
  border:#ff0000 1px solid;
  color:#ff0000;
}


/* w2ui hotfix */
media-library {
  display:block;
  width:100%;
  height:100%;
}

playlists {
  display:block;
  width:100%;
  height:100%;
}

stream {
  display:block;
  width:100%;
  height:100%;
}

.component-layout {
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;

}

div[ref="keyboard"] > div > button {
  font-size:22px;
  padding:26px;
  width:70px;
  height:70px;
  margin:2px;
  font-family:monospace;
}

div[ref=keyboard] > div > button[data-code="32"] {
  width:235px;
}

div[ref=keyboard] > div > button[data-code="8"] {
  padding-top:24px;
}

input[ref=newPlaylistName] {
  background-color:black;
  font-size:28px;
  width:855px;
}

input[ref=streamURL] {
  background-color:black;
  font-size:28px;
  width:855px;
}
